extends layout

block content
  h1= title
  - let artifactid = toShow._id
  - let artifact_type = toShow.artifact_type
  - let origin = toShow.origin
  - let age = toShow.age
  div.container
    div.row
      div.col-md-4.font-weight-bold Artifact ID:
      div.col-md-8.text-info #{artifactid}
    div.row
      div.col-md-4.font-weight-bold Artifact Type:
      div.col-md-8.text-info #{artifact_type}
    div.row
      div.col-md-4.font-weight-bold Origin:
      div.col-md-8.text-info #{origin}
    div.row
      div.col-md-4.font-weight-bold Age:
      div.col-md-8.text-info #{age}

  a.btn.btn-primary.mt-4(href='/artifacts') Back to List
