extends layout

block content
    h1= title
    - let artifactid = toShow._id
    - let artifact_type = toShow.artifact_type
    - let origin = toShow.origin
    - let age = toShow.age

    div.row(class='mb-2')
        div.mr-1 ID is:
        div #{artifactid}
    - let actionid = "/resource/artifacts/" + artifactid
    form(id='ArtifactForm', action=actionid, method="PUT")
        div.form-group
            label(for='artifact_type') Artifact Type
            input#artifact_type(type='text', name='artifact_type', value=artifact_type)

        div.form-group
            label(for='origin') Origin
            input#locaorigintion(type='text', name='origin', value=origin)

        div.form-group
            label(for='age') Age
            input#age(type='number', name='Age', value=age)

        input(type="submit")
    script.
        document.forms['ArtifactForm'].addEventListener('submit', (event) => {
            event.preventDefault();
            // Show user that form is being submitted
            fetch(event.target.action, {
                method: 'PUT',
                body: new URLSearchParams(new FormData(event.target)) // Form data
            }).then((resp) => {
                return resp.json(); // Expecting a JSON response
            }).then((body) => {
                alert("Update succeeded");
                // Optionally handle response body
            }).catch((error) => {
                alert("Update failed " + error);
                // Handle error
            });
        });
